/***** add grid lines *****/
div#text-test{
  background-size: 4px 4px; /*base */
  background-image: linear-gradient(to bottom, pink 1px, transparent 1px);
  margin-top:0px;
}

/***** make each article start on a baseline *****/
article#text-test{
	margin-top:1.875rem;
}
article#text-test + article#text-test{
	margin-top:-0.4rem;
}
/***** make each paragraph start on a baseline *****/
.text-largest + .text-larger{
	margin-top:2.5rem;
}
.text-larger + .text-large{
	margin-top:2.4rem;
}
.text-large + .text-normal{
	margin-top:2.25rem;
}
.text-normal + .text-small{
	margin-top:2.05rem;
}
.text-small + .text-smaller{
	margin-top:1.75rem;
}
.text-smaller + .text-smallest{
	margin-top:1.8rem;
}
.text-smallest + .text-tiny{
	margin-top:1.85rem;
}